<html>
    <head>
        <style>
            table {
                font-family: Arial, sans-serif;
                border-collapse: collapse;
                width: 100%;
            }

            td,th{
                border: 1px solid #dddddd;
                text-align: left;
                padding: 8px;
            }
        </style>
    </head>

    <body>
        <h3 style="text-align: center;">Internship's Form</h3>
        <table>
            <tr>
                <th>Student's name: <%= name %></th>
                <th>Student's email: <%= email %></th>
            </tr>
            <tr >
                <th>Supervisor's name: <%= enseignant %></th>
                <th>Level of study: <%= niveauE %></th>
            </tr>
        </table>

        <h3>Internship Details:</h3>
        <table>
            <tr>
                <th>Name</th>
                <th>Category</th>
            </tr>
            <% if(stageDetails.length > 0) { %>
                <% stageDetails.forEach(stage =>{ %>
                  <tr>
                      <td><%= stage.name %></td>
                      <td><%= stage.category %></td>
                  </tr>
                <%});%>
            <%}%>
        </table>

    </body>
</html>